<?
$this->headTitle('System Administration');
?>

<div class="row">
    <div class="col-md-6">
        <div class="icon-feature pull-right"><i class="fa fa-cogs"></i></div>
        <h3 class="section-title">System Setup</h3>

        <div class="list-group">
            <a href="<?=$this->route(array('module' => 'admin', 'controller' => 'blocks')) ?>" class="list-group-item">
                <h4 class="list-group-item-heading">Manage Page Content</h4>
                <p class="list-group-item-text">Update any self-managed sections of web site content.</p>
            </a>

            <a href="<?=$this->route(array('module' => 'admin', 'controller' => 'users')) ?>" class="list-group-item">
                <h4 class="list-group-item-heading">Manage Users</h4>
                <p class="list-group-item-text">Review user reports and update login credentials.</p>
            </a>

            <a href="<?=$this->route(array('module' => 'admin', 'controller' => 'permissions')) ?>" class="list-group-item">
                <h4 class="list-group-item-heading">Manage Roles &amp; Permissions</h4>
                <p class="list-group-item-text">Set up the basic permissions of the site. Use caution!</p>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-feature pull-right"><i class="fa fa-book"></i></div>
        <h3 class="section-title">Resource Management</h3>

        <div class="list-group">
            <a href="<?=$this->route(array('module' => 'admin', 'controller' => 'resources')) ?>" class="list-group-item">
                <h4 class="list-group-item-heading">Manage Resources</h4>
                <p class="list-group-item-text">Add, categorize and manage resources.</p>
            </a>

            <a href="<?=$this->route(array('module' => 'admin', 'controller' => 'categories')) ?>" class="list-group-item">
                <h4 class="list-group-item-heading">Manage Resource Categories</h4>
                <p class="list-group-item-text">Add, rename and remove categories that resources can be placed in.</p>
            </a>

            <a href="<?=$this->route(array('module' => 'admin', 'controller' => 'types')) ?>" class="list-group-item">
                <h4 class="list-group-item-heading">Manage Resource Types</h4>
                <p class="list-group-item-text">Add, rename and remove types that resources can be placed in.</p>
            </a>
        </div>
    </div>
</div>
