<?php $this->headTitle('Login Required'); ?>

<p>You must be logged in to access this page. Click the button below to log in.</p>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
        'class'     => 'btn-primary btn-lg',
		'href'		=> $this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')),
		'icon'		=> 'fa-key',
		'text'		=> 'Log In',
	)) ?>
</div>