<?php
$this->headTitle('Resources By Category');
?>

<div class="row">
    <div class="col-md-4">
        <h3 class="section-title">Categories</h3>

        <ul class="list-group autoselect" rel="<?=(($this->category) ? $this->category->id : 0) ?>">
            <li rel="0" class="list-group-item"><a href="<?=$this->routeFromHere(array('category' => 0)) ?>">View All Resources</a></li>
        <? foreach($this->categories as $cat): ?>
            <li rel="<?=$cat['id'] ?>" class="list-group-item"><a href="<?=$this->routeFromHere(array('category' => $cat['id'])) ?>"><?=$cat['name'] ?></a></li>
        <? endforeach; ?>
        </ul>
    </div>
    <div class="col-md-8">
    <? if ($this->category): ?>
        <h3 class="section-title"><?=$this->category->name ?></h3>
    <? else: ?>
        <h3 class="section-title">All Resources</h3>
    <? endif; ?>

        <?=$this->renderHere('resource-list') ?>
	</div>
</div>