<?=$this->paginate($this->pager) ?>

<div class="list-group">
<? foreach($this->pager as $resource): ?>
    <a class="list-group-item" href="<?=$this->route(array('module' => 'default', 'controller' => 'resources', 'action' => 'view', 'id' => $resource->id)) ?>" title="Click for More Information">
        <h4 class="list-group-item-heading"><?=$resource->title ?></h4>
        <p class="text-muted"><?=$resource->author ?></p>
        <p><?=\DF\Utilities::truncateText(strip_tags($resource->description), 300) ?></p>
    </a>
<? endforeach; ?>
</div>

<?=$this->paginate($this->pager) ?>