<?
$this->headTitle($this->record->title);
?>

<div class="row">
	<div class="col-md-8">
        <h3 class="section-title">More Information</h3>

        <p class="text-standard"><?=$this->record->description ?></p>

        <dl>
            <dt>Author(s):</dt>
            <dd><?=$this->record->author ?></dd>

            <dt>Resource Type:</dt>
            <dd><?=$this->record->type->name ?></dd>

            <dt>Resource Categories:</dt>
            <dd>
                <ul>
                <? foreach($this->record->categories as $category): ?>
                    <li><?=$category->name ?></li>
                <? endforeach; ?>
                </ul>
            </dd>

            <dt>Added On:</dt>
            <dd><?=$this->record->created_at->format('F j, Y g:ia') ?></dd>
        </dl>
	</div>
    <div class="col-md-4">
        <? if ($this->acl->isAllowed('is logged in')): ?>
            <h3 class="section-title">Access This Resource</h3>

            <p>Click the button below to access this resource. Your time spent viewing this resource will be tracked to allow you to generate reports.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'		=> 'link',
                    'class'		=> 'large primary',
                    'icon'		=> 'world_go',
                    'text'		=> 'Access',
                    'href'		=> $this->routeFromHere(array('action' => 'access')),
                    'target'	=> '_blank',
                )) ?>
            </div>
        <? else: ?>
            <h3 class="section-title">Log In to Access</h3>

            <p>You are not currently logged in. Click the button below to log in and access this resource.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'		=> 'link',
                    'class'		=> 'large primary',
                    'icon'		=> 'key',
                    'role'      => 'button',
                    'text'		=> 'Log In',
                    'href'		=> $this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')),
                )) ?>
            </div>
        <? endif; ?>
    </div>
</div>